.course-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
}

.course{
    width: 300px;
    height: 450px;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}
.course-title{
    font-family: 'Inter',sans-serif;
    text-align: center;
}

.course-desc{
    font-family: 'Inter',sans-serif;
    font-size: 13px;
}

.course-price{
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    color: red;
    text-align: right;
    padding-right: 20px;
}

.course-link{
    font-size: 12px;
    text-decoration: none;
    text-align: right;
    padding-right: 10px;
}