.image {
    width: 180px;
    height: 240px;
}

.card{
    width: 200px;
    height: 420px;
    box-shadow: 1px 4px 3px lightgray;
    border-radius: 10px;
    margin : 15px;
}

.card:hover {
    box-shadow: 1px 4px 3px rgb(56, 56, 56);
    transition: all 0.6s;
    transform: scale(1.05);
    cursor: pointer;
}

.title-text{
    height: 64px;
    text-align: center;
    
}

.price-text{
    text-align: center;
}

.detail-buton{
    border: none;
    margin-top: 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(67, 67, 67);
    color: #fff;
}

.detail-buton:hover{
    background-color: rgb(212, 164, 101);
    cursor: pointer;
    transition: all 0.6s;
}